body {
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

/* a {
  color: #000000 !important;
  border-bottom: 5px solid #000000;
} */

.footer {
  padding: 10px 0;
  background-color: black;
  text-align: center;
}

.footer span {
  color: white;
}

.ComponentBodyContainer {
  margin: 20px auto;
  min-height: 85vh;
  /* border: 1px solid grey; */
}

.OrangeText {
  border-bottom: 5px solid #FF9A00;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.OrangeText:hover {
  cursor: pointer;
  color: #FF9A00;
  border: 0;
  transition: 0.5s;
}

.SearchResultContainer {
  border: 2px solid #efefef;
  padding: 15px 20px;
  margin: 1rem auto;
  border-radius: 10px;
}

.SearchResultContainer:hover,
.EmployerCategory .card:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.SearchResultIconCol {
  display: flex;
  flex-direction: column;
  margin: 0px;
  color: rgba(0,0,0,.54);
  /* color: #848484; */
  align-items: center;
}

.SearchResultIconCol i {
  padding: 0 10px;
}

.SearchResultIconCol p {
  margin: 0;
}

.AskButton {
  background-color: #FF9A00;
  padding: 0.8em;
  max-height: 3rem;
  color: #FFF !important;
  border: 1px solid transparent;
  outline: none;
  white-space: nowrap !important;
  border-radius: 10px;
  text-decoration: none;
}

.AskButton:hover {
  cursor: pointer;
  color: rgb(0, 0, 0) !important;
  transform: 10s;
  transition: 0.5s;
}

@media (max-width: 992px) {
  .SearchResultContainer,
  .EmployerCategory .card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}