body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

.footer {
  padding: 10px 0;
  background-color: black;
  text-align: center;
}

.footer span {
  color: white;
}

.ComponentBodyContainer {
  margin: 20px auto;
  min-height: 85vh;
  /* border: 1px solid grey; */
}

.OrangeText {
  border-bottom: 5px solid #FF9A00;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.OrangeText:hover {
  cursor: pointer;
  color: #FF9A00;
  border: 0;
  transition: 0.5s;
}

.SearchResultContainer {
  border: 1px solid #e9ebed;
  padding: 15px 20px;
}

.SearchResultIconCol {
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: center;
}

.SearchResultIconCol i {
  padding: 0 10px;
  /* color: #F9CD8B; */
}

.SearchResultIconCol p {
  margin: 0;
}

.AskButton {
  background-color: #FF9A00;
  padding: 0.8em;
  max-height: 3rem;
  color: #FFF !important;
  border: 1px solid transparent;
  outline: none;
  white-space: nowrap !important;
  border-radius: 10px;
  text-decoration: none;
}

.AskButton:hover {
  cursor: pointer;
  color: rgb(0, 0, 0) !important;
  transform: 10s;
  transition: 0.5s;
}