.ForumUserProfile {
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: center;
  line-height: 3rem;
}

.PeopleProfile i {
  font-size: 2rem
}

.PeopleProfile .ForumBox {
  margin: 2rem auto;
  border-bottom: 1px solid #e4e6e8;
}

.AnswersStats,
.ForumQuestion {
  width: 100%;
  border-bottom: 1px solid #e4e6e8;
  margin-bottom: 10px;
  clear: both;
}

@media (max-width: 992px) {
  .PeopleProfile i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .ForumUserProfile {
    line-height: 1rem;
  }

  .ForumUserName {
    text-align: center;
    font-size: 12px;
  }
}