.PeopleComponentBodyContainer {
  min-height: 85vh;
  margin: 20px;
}

.PeopleProfileHeader {
  border: 1px solid rgb(243, 243, 243);
  min-height: 15rem;
  padding-bottom: 1.5rem;
}

.PeopleProfileHeader img {
  max-width: 152px;
  max-height: 152px;
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
  position: absolute;
  top: 11%;
  left: 20%;
}

.PeopleProfileHeader .UserNameLong,
.PeopleProfileHeader .UserNameShort,
.PeopleProfileHeader .UserDescription {
  padding: 0 2rem;
  margin: 0;
  line-height: 1.5;
}

.banner {
  height: 100px;
  width: 100%;
  margin-bottom: 5rem;
}

.SkillSection {
  padding: 1rem 2rem;
  margin: 2rem 0;
  border: 1px solid rgb(243, 243, 243);
}

.SectionTitle {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}

.SkillSection .SkillList {
  color: #606060;
  line-height: 2;
  font-size: 1rem;
  padding: 1rem 0;
}

@media (max-width: 576px) {
  .PeopleProfileHeader img {
    max-width: 128px;
    max-height: 128px;
    top: 7rem;
    left: 3rem;
  }
}

@media (min-width: 575px) and (max-width: 992px) {
  .PeopleProfileHeader img {
    max-width: 128px;
    max-height: 128px;
    top: 7rem;
    left: 10rem;
  }
}

/* @media (min-width: 767px) and (max-width: 992px) {
  .PeopleProfileHeader img {
    max-width: 128px;
    max-height: 128px;
    top: 7rem;
    left: 10rem;
  }
} */